@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 

font-family: 'Cinzel', serif;
font-family: 'Poppins', sans-serif;

border: #ccc.
color logo: #999.
color home: #fff.
color: #333

 */


/* ==================== HEADER ==================== */

header {
    font-family: 'Cinzel', serif;
}

header p {
    color: #999; 
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    font-size: 20px;
    margin: 10px 0px 25px 25px;
}

header h1 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    background-image: url(../img/background\ home.jpeg);
    background-position: center;
    background-size: cover;
    padding: 300px;
    margin-bottom: 50px;
}

/* ==================== MAIN ==================== */

main h2 {
    font-family: 'Cinzel', serif;
    text-align: center;
    color: #333;
    margin-top: 40px;
    margin-bottom: 30px;
}


main > p {
    color: #333;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 50px 150px;
}


/* ==================== Bilder ==================== */


main > section > span:nth-of-type(1) {
    padding: 50px; 
}



section {
    border: 5px solid black;
    padding-bottom: 25px;
}

main article {
    margin-bottom: 100px;
}
main article p {
    color: #333;
    font-family: 'Poppins', sans-serif;
    padding: 0px 0px 0px 100px; 
    line-height: 40px;
}

main > article > p:nth-of-type(1)::after {
    content: " - Sold out";
    text-transform: uppercase;
    font-style: italic;
    color: red;
}
 
main > article > p:nth-of-type(2)::after {
    content: " - Sold out";
    text-transform: uppercase;
    font-style: italic;
    color: red;
}
 
main > article > p:nth-of-type(3)::after {
    content: " - Sold out";
    text-transform: uppercase;
    font-style: italic;
    color: red;
}
 
main > article > p:nth-of-type(4)::after {
    content: " - only 4 spots available";
    text-transform: uppercase;
    font-style: italic;
    color: red;
}
 

/* ==================== FOOTER ==================== */

footer > h2 {
    font-family: 'Cinzel', serif;
    text-align: center;
    color: #999;
    margin-top: 40px;
    margin-bottom: 30px;
    border-top: 1px solid rgb(155, 146, 146); 
    padding-top: 30px;
}