
body {
    background-image: url("../../assets/img/Lanzarote.jpg");
    /* text-align: center; */
    background-position: center center;
    width: 100%;
}

p {
    text-align: center;
    color: red;
    text-transform: uppercase;
    font-family: 'Avenir', serif;
    font-size: 44px;
    padding-top:250px;
}



p::first-letter {
    color: rgb(75, 36, 36);
    font-size: 99px;
}

